@import url('./preloader.css');
@import url('./nav.css');
@import url('./header.css');
@import url('./acerca.css');
@import url('./footer.css');

:root {
    --verde: #0bda73;
}

html { scroll-behavior: smooth; }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background: #171b19;
    overflow: hidden;
    cursor: none !important;
}

a {
    text-decoration: underline;
    color: inherit;
    cursor: none;
}

button, input {
    border: none;
    outline: none;
    font-family: inherit;
    background: none;
    cursor: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #171b19;
}

::-webkit-scrollbar-thumb {
    background: var(--verde);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0cad5d;
}

.cursor {
    border-radius: 50%;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.punto-cursor {
    width: 5px;
    height: 5px;
    background: #ffffffcb;
    top: 0;
    left: 0;
    transition: width .3s ease, height .3s ease, background .3s ease;
}

.circulo-cursor {
    width: 30px;
    height: 30px;
    border: 2px solid #ffffffcb;
    transition-delay: .3s;
    transition: .3s ease;
}

.punto-cursor.hover {
    width: 30px;
    height: 30px;
    background: #ffffff7c;
    box-shadow: 0 0 10px #0000006e;
}

.punto-cursor.hover ~ .circulo-cursor {
    opacity: 0;
}

.cuadro-transicion {
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    transition: .5s ease;
    background: var(--verde);
    bottom: -110%;
    z-index: 10000;
}

.cuadro-transicion.activo {
    bottom: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.frase {
    width: calc(100% - 10%);
    padding-inline: 5%;
    padding-block: 10vh;
    margin-top: 5vh;
    background: url('../img/Animated\ Shape.svg') no-repeat center;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.frase h2 {
    font-size: calc(1rem + 2vw);
    font-weight: 600;
    max-width: 80%;
    line-height: 1.5;
    margin-top: 0;
}

.frase p {
    font-size: 1rem;
    letter-spacing: 1rem;
    font-weight: 500;
    color: #ffffff6c;
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .cursor {
        display: none;
    }

    body {
        cursor: auto !important;
    }

    [cursor-hover] {
        cursor: pointer !important;
    }
}